.map-page {
  height: calc(100vh - 70px);
  overflow: hidden;
  flex: 1;
}

.map-sidebar {
  padding: 20px;
  overflow: hidden;

  .block-custom {
    background-color: $color-secondary-100;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
  }

  h4 {
    color: $color-primary-900;
    font-weight: 800;
  }

  p {
    color: #3f3f3f;
    margin-bottom: 5px;
  }

  .filter-group {}

  .map-cardList-custom {
    height: calc(100vh - 330px);
    overflow-y: auto;
    overflow-x: clip;
    padding: 0.8rem 0.5rem 1rem 1rem;
    background-color: $color-secondary-100;
    scrollbar-gutter: stable;
    border-radius: 1rem;
    flex: 1;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(130, 116, 69, 0.2);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      margin: 1rem;
    }

    .map-cardList {
      display: flex;
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .flower-img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 0.5rem 0 0 0.5rem;
    }

    .card-content {
      padding: 0.5rem 0.5rem;
      background-color: #f2f2ef;
      width: 100%;
      border-radius: 0 0.5rem 0.5rem 0;

      * {
        margin: 0; // 用 * 一次清除所有子元素的 margin
      }
    }
  }
}

.map-main-content {
  height: 100vh;
  overflow: hidden;
}

.googlemap-custom {
  height: 100vh;
  width: 100%;
}

.gm-ui-hover-effect {
  height: 40px !important;
}

.map-card-custom {
  width: 16rem;
  background: 'transparent';
}

.map-card-img {
  width: 100%;
  height: 140px;
  object-fit: cover;

  border-radius: 8px 8px 0 0;
}

.map-card-content {
  padding-top: 12px;

  h5 {
    color: $color-primary-900;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 8px;
  }

  p {
    font-size: 13px;
    color: #666;
    margin-bottom: 12px;
    line-height: 1.4;
  }

  .card-group {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    ;

    :hover {
      color: white;
    }

    button {
      color: white;
    }

    a {
      font-size: 13px;
    }
  }

}