// @include media-breakpoint-up(md) {
// }
.map-sidebar {
  width: 360px;
  padding: 24px;

  .block-custom {
    background-color: $color-secondary-100;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 1rem;
  }

  h2 {
    color: $color-primary-900;
    font-weight: 800;
  }

  p {
    color: #3f3f3f;
    margin-bottom: 8px;
  }

  .filter-group {}

}

.map-main-content {
  width: 100%;
  height: 100vh;
  flex: 1;
  overflow: hidden;
}

.googlemap-custom {
  height: 100vh;
  width: 100%;
}

.gm-ui-hover-effect {
  height: 40px !important;
}

.map-card-custom {
  width: 16rem;
  background: 'transparent';
}

.map-card-img {
  width: 100%;
  height: 140px;
  object-fit: cover;

  border-radius: 8px 8px 0 0;
}

.map-card-content {
  padding-top: 12px;

  h5 {
    color: $color-primary-900;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 8px;
  }

  p {
    font-size: 13px;
    color: #666;
    margin-bottom: 12px;
    line-height: 1.4;
  }

  .card-group {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    ;

    :hover {
      color: white;
    }

    button {
      color: white;
    }

    a {
      font-size: 13px;
    }
  }

}